<div class="jumbotron">
    <h1 class="display-1">Survey</h1>
    <hr>
    <form action="/api/characters" method="POST">
        <p>What is your favorite character?
            <select name="name" id="">
                {{#each this.name}} <option value="{{this}}">{{this}}</option>{{/each}}
            </select>
        </p>
        <p>At every corner you see this and your fears come to life?
            <select name="fear" id="">
                {{#each this.fear}} <option value="{{this}}">{{this}}</option>{{/each}}
            </select>
        </p>
        <p>Which power would you want?
            <select name="power" id="">
                {{#each this.power}} <option value="{{this}}">{{this}}</option>{{/each}}
            </select>
        </p>
        <p>Whats your favorite color?
            <select name="color" id="">
                {{#each this.color}} <option value="{{this}}">{{this}}</option>{{/each}}
            </select>
        </p>
        <p>Shenlong grants you 1 wish to change your race! Pick your new race?
            <select name="race" id="">
                {{#each this.race}} <option value="{{this}}">{{this}}</option>{{/each}}
            </select>
        </p>
        <p>Which realm would you like to reincarnate into?
            <select name="universe" id="">
                {{#each this.universe}} <option value="{{this}}">{{this}}</option>{{/each}}
            </select>
        </p>
        <p>Which weakness embodies you?
            <select name="weakness" id="">
                {{#each this.weakness}} <option value="{{this}}">{{this}}</option>{{/each}}
            </select>
        </p>
        <button type="submit"j>Submit</button>
    </form>
</div>




